*{
    font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "apple color emoji", "segoe ui emoji", "Segoe UI Symbol", "noto color emoji";
 }
 body{
     width: 100%;
     margin: 0;
     color: white;
     background-color: #222222;
 }
 .header{
    width: 100%;
    height: 60px;
    background-color: black;
    border-bottom: 1px solid rgb(3, 253, 3);
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    position: fixed;

}
.search{

}
.img1{
  
    height: 35px;
    width: 35px;
}
.headdiv{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
.headdiv a{
    
    text-decoration: none;
    font-size: 16px;
    color: #888888;
    padding-right: 50px;
}
.headerimg{
    padding-right: 50px;
    height: 35px;
    width: 35px;
}
.headerimg1{
    height: 20px;
    width: 30px;
}
/* /* =-------------- * */
.section1{
    padding-top: 80px;
     width: 100%;
     height: 44px;
     background-color: #555555;
     text-align: center;
     line-height: 44px;
     font-size: 14px;
}
/* ------------------------- */
.section2{
   
    margin-top: 0;
    width: 100%;
    height: 700px;
    background-image: url(razerimge/holiday-.webp);
    
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    
}
.section2 a{
text-decoration: none;
color: white;
padding-top: 20px;
text-align: center;
}
.section2 img{
    width: 100px;
}
.link1{
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
}
.link2{
    text-decoration: none;
    font-size: 30px;
    font-weight: 1;
}
.link3{
    text-decoration: none;
    font-size: 20px;
}
/*  */
.section3{
    margin-top: 10px;
    width: 100%;
    height: 700px;
    background-image: url(razerimge/s3.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.btn1{
    margin: auto;
    margin-bottom: 0;
    margin-top: 30px;
    width: fit-content;
    height: fit-content;
    text-align: start;
    line-height: 3px;
    background-color: rgb(255, 196, 3);
}
.P1{
    font-weight: normal;
    font-size:x-small;
}
.P2{
    font-weight: bold;
}
.section3 a{
    text-decoration: none;
    color: white;
    padding-top: 20px;
    text-align: center;
}
/* ------------------ */

.section4{
    margin-top: 10px;
    width: 100%;
    height: 700px;
    background-image: url(razerimge/s2.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.section4 a{
    text-decoration: none;
    color: white;
    padding-top: 20px;
    text-align: center;
}
.section5{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 570px;
    grid-gap: 10px;

}
.link4{
    padding-top: 40px;
    font-weight: medium;
    text-decoration: none;
    font-size: 35px;
}
.link5{
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
}
.link6{
    text-decoration: none;
    font-size: 16px;
}
.section6{
    background-image: url(razerimge/s4.webp);
    display: flex;
    flex-direction: column;
}
.section6 a{
    text-decoration: none;
    color: white;
    margin-top: 18px;
    text-align: center;
}
.section7{
    background-image: url(razerimge/s5.webp);
    display: flex;
    flex-direction: column;
}
.section7 a{
    text-decoration: none;
    color: white;
    margin-top: 18px;
    text-align: center;
}
.section8{
    background-image: url(razerimge/s6.webp);
    display: flex;
    flex-direction: column;
}
.section8 a{
    text-decoration: none;
    color: white;
    margin-top: 18px;
    text-align: center;
}
.section9{
    background-image: url(razerimge/s7.webp);
    display: flex;
    flex-direction: column;
}
.section9 a{
    text-decoration: none;
    color: white;
    margin-top: 18px;
    text-align: center;
}
.section10{
    background-image: url(razerimge/s8.webp);
    display: flex;
    flex-direction: column;
}
.section10 a{
    text-decoration: none;
    color: white;
    margin-top: 18px;
    text-align: center;
}
.section11{
    background-image: url(razerimge/s9.webp);
    display: flex;
    flex-direction: column;
}
.section11 a{
    text-decoration: none;
    color: white;
    margin-top: 18px;
    text-align: center;
}
.footer{
    margin-top: 10px;
    width: 100%;
    height: 370px;
    background-color: #111111;
    
}
.subfoot{
    margin: auto;
    width: 1193px;
    display: grid;
    grid-template-columns:  179px 179px 179px 179px 179px 298px;
    grid-template-rows: 298px;
    grid-gap: 10px;
}
.cols{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.cols a{
    padding-top: 10px;
    text-decoration: none;
    color: #888888;
    font-size: 12px;
}
.cols a img{
    height: 18px;
    width: 18px;
    padding-top: -5px;
}
.cols p{
    font-weight: bold;
    font-size: 13px;
}
.cols span{
    color: rgb(3, 253, 3);
    font-size: 14.4px;
    text-align: right;
    letter-spacing: 0.5px;
}
.cols i{
    line-height: 8px;
    margin-top: 10px;
}
.hr{
    margin-top: 20px;
    width: 1200px;
    color: #888888;
}
.last{
    margin-left: 180px;
    display: flex;
    font-size: 12px;
    color: #888888;
}
.sublast{
    display: flex;
    justify-content: center;
    padding-right: 400px;
}
.sublast p{
    padding-right: 20px;
}
i{
    width: 330px;
    
}
